<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>profile</title>
</head>
<body>
  <div>
    <h2> <%=nick_name%> 欢迎来到个人中心</h2>
  </div>
</body>
</html>